@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FAF9F6;
}
.input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 12px;
  outline: none;
  transition: all 0.2s ease;
}

.input:focus {
  border-color: #15803d;
  box-shadow: 0 0 0 2px rgba(21, 128, 61, 0.2);
}
